.ui-checkbox {
	flex:1;
	position:relative;
	left:-6px;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.ui-checkbox-label {
	height:1.5em;
	font-size:.9em;
	transition:.25s ease-in all;
}
.ui-checkbox-message {
	height:1em;
	padding:.25em 0 0 0;
	font-weight:700;
	font-size:.9em;
	font-style:italic;
}
.ui-checkbox-icon {
	width:2em;
	height:2em;	
}
.ui-checkbox-icon > i {
	font-size:150%;
}
.ui-checkbox-msg {
	padding-left:.5em;
}
