.f-one {
  -webkit-box-flex: 1;
          flex: 1;
}
.f-col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.f-col-rev {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}
.f-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.f-row-rev {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-wrap-rev {
  flex-wrap: wrap-reverse;
}
.f-wrap-no {
  flex-wrap: nowrap;
}
.jc-around {
  justify-content: space-around;
}
.jc-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.jc-center {
  -webkit-box-pack: center;
          justify-content: center;
}
.jc-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.jc-start {
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.ac-around {
  align-content: space-around;
}
.ac-between {
  align-content: space-between;
}
.ac-center {
  -webkit-box-align: center;
          align-items: center;
}
.ac-end {
  -webkit-box-align: end;
          align-items: flex-end;
}
.ac-start {
  -webkit-box-align: start;
          align-items: flex-start;
}
.ac-stretch {
  -webkit-box-align: stretch;
          align-items: stretch;
}
.ai-baseline {
  -webkit-box-align: baseline;
          align-items: baseline;
}
.ai-center {
  -webkit-box-align: center;
          align-items: center;
}
.ai-end {
  -webkit-box-align: end;
          align-items: flex-end;
}
.ai-start {
  -webkit-box-align: start;
          align-items: flex-start;
}
.ai-stretch {
  -webkit-box-align: stretch;
          align-items: stretch;
}
.as-auto {
  align-self: auto;
}
.as-baseline {
  align-self: baseline;
}
.as-center {
  align-self: center;
}
.as-end {
  align-self: flex-end;
}
.as-start {
  align-self: flex-start;
}
.as-stretch {
  align-self: stretch;
}
