/* PLACEHOLDER */
input::-webkit-input-placeholder { color:rgba(0,0,0,0.3);font-style:italic; }
input::-moz-placeholder { color:rgba(0,0,0,0.3);font-style:italic; }
input:-ms-input-placeholder { color:rgba(0,0,0,0.3);font-style:italic; }
input:-moz-placeholder { color:rgba(0,0,0,0.3);font-style:italic; }

.ui-input { height:4.5em;width:100%; }
.ui-input-label {
	height:1.5em;
	font-size:.9em;
	transition:.25s ease-in all;
}
.ui-input-stack {
	width:100%;
	position:relative;
	height:2em;
	width:100%;
}
.ui-input-row {
	width:100%;
}
.ui-input-stack > .ui-input-row > input {
	font-size:100%;
	background:transparent;
	outline:none;
	border:0;
	transition:.25s ease-in all;
	z-index:200;
}
.ui-input-stack > .ui-input-fill {
	position:absolute;
	bottom:0px;
	z-index:100;
	width:100%;
	height:100%;
	background:rgba(30,160,255,0.1);
	transition:.25s ease-in all;
}
.ui-input-stack > .ui-input-row > i {
	font-size:150%;
}
.ui-input-message {
	height:1em;
	padding:.25em 0 0 0;
	font-weight:700;
	font-size:.9em;
	font-style:italic;
}
/* TOUCHED */
.ui-input.touched > .ui-input-label { color:rgba(20,140,235,1);	}
.ui-input.touched > .ui-input-stack > .ui-input-fill { height:1px;background:rgba(20,140,235,1); }
.ui-input.touched > .ui-input-stack > .ui-input-row > i { color:rgba(20,140,235,1); }
/* FOCUS */
.ui-input.focus > .ui-input-label { color:rgba(20,140,235,1);	}
.ui-input.focus > .ui-input-stack > .ui-input-fill { height:1px;background:rgba(20,140,235,1); }
.ui-input.focus > .ui-input-stack > .ui-input-row > i { color:rgba(20,140,235,1); }
/* INVALID */
.ui-input.invalid > .ui-input-label { color:#c62828;	}	
.ui-input.invalid > .ui-input-stack > .ui-input-fill { height:1px;background:#c62828; }
.ui-input.invalid > .ui-input-stack > .ui-input-row > i { color:#c62828; }
/* VALID */
.ui-input.valid > .ui-input-label { color:#12ba12;	}	
.ui-input.valid > .ui-input-stack > .ui-input-fill { height:1px;background:#12ba12; }
.ui-input.valid > .ui-input-stack > .ui-input-row > i { color:#12ba12; }
/* LOCKED */
.ui-input.locked { pointer-events:none; }
.ui-input.locked > .ui-input-label { color:#888888;	}
.ui-input.locked > .ui-input-stack > .ui-input-fill { height:1px;background:#888888; }
.ui-input.locked > .ui-input-stack > .ui-input-row > i { color:#888888; }
