.ui-select {
	position:relative;
}
.ui-select-label {
	height:1.5em;
	font-size:.9em;
	transition:.25s ease-in all;
}
.ui-select-message {
	height:1em;
	padding:.25em 0 0 0;
	font-weight:700;
	font-size:.9em;
	font-style:italic;
}
.ui-select select {
	cursor:pointer;
	padding:0;
	margin:0;
	border:0;
	width:100%;
	height:2em;
	background:none;
	font-size:100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}
.ui-select > .ui-select-fill {
	position:absolute;
	bottom:0;
	z-index:100;
	width:100%;
	height:1px;
	background:#888888;
}
.ui-select > i {
	position:absolute;
	z-index:100;
	right:.5em;
	pointer-events:none;
}
